name: linux-5.15-tkg-silvermont

on:
  push:
    branches: 
      - main
      - 5-15
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: 1. Checkout
        uses: actions/checkout@v4

      - name: 2. Cache de Kernel y Ccache
        uses: actions/cache@v4
        with:
          path: |
            linux-tkg/linux-kernel.git
            linux-tkg/linux-src-git
            .ccache
          # Cambiamos la clave a 5.15 para resetear el cache
          key: linux-5.15-silvermont-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            linux-5.15-silvermont-${{ runner.os }}-

      - name: 3. Preparar Base de Datos (Fake LSMOD)
        run: |
          awk '{print $1 " 0 0"}' modprobed.db > /home/runner/modprobed.db

      - name: 4. Instalar Dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential bc bison flex libelf-dev libssl-dev make ccache dwarves libncurses-dev xz-utils kmod

      - name: 5. Ejecutar Linux-TKG
        run: |
          if [ ! -d "linux-tkg" ]; then
            git clone --depth 1 https://github.com/Frogging-Family/linux-tkg.git
          fi
          
          cp customization.cfg linux-tkg/customization.cfg
          
          cd linux-tkg
          # Forzamos PATH para ccache
          export PATH="/usr/lib/ccache:$PATH"
          yes "" | ./install.sh install

      - name: 6. Empaquetado de Binarios
        run: |
          mkdir -p output/boot
          
          # Cambiamos el nombre del vmlinuz para diferenciarlo del 6.6
          cp linux-tkg/linux-src-git/arch/x86/boot/bzImage output/boot/vmlinuz-linux515-tkg-silvermont
          
          cd linux-tkg/linux-src-git
          sudo make INSTALL_MOD_PATH=../../output modules_install
          
          cd ../../output
          sudo rm -f lib/modules/*/build lib/modules/*/source
          # Nombre del comprimido actualizado
          sudo tar -cvzf ../kernel-515-silvermont.tar.gz .
          
          sudo chown $USER:$USER ../kernel-515-silvermont.tar.gz

      - name: 7. Subir Artifact
        uses: actions/upload-artifact@v4
        with:
          name: kernel-tkg-5.15-silvermont
          path: kernel-515-silvermont.tar.gz
