name: Linux-TKG Silvermont Generic Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  _processor_opt: "silvermont"
  _cpusched: "pds"
  _compiler: "gcc"
  _distro: "Arch"
  _kernel_on_diet: "true"
  _modprobeddb: "true"
  _modprobeddb_db_path: "${{ github.workspace }}/modprobed.db"
  _debugdisable: "true"
  _no_confirm: "true"
  PKGDEST: "${{ github.workspace }}/reales_paquetes"

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    container: archlinux:latest

    steps:
      - name: Instalar Dependencias Críticas
        run: |
          pacman -Syu --noconfirm git base-devel sudo bc ccache kmod cpio perl tar xz wget

      - name: Checkout de tu Repo
        uses: actions/checkout@v4

      - name: Clonar Linux-TKG y Mezclar Archivos
        run: |
          # 1. Clonamos el repo oficial en una carpeta temporal
          git clone --depth 1 https://github.com/Frogging-Family/linux-tkg.git temp-tkg
          
          # 2. Movemos tus archivos personalizados al repo de TKG
          cp customization.cfg temp-tkg/
          cp modprobed.db temp-tkg/
          
          # 3. Movemos todo el contenido al directorio de trabajo actual
          cp -r temp-tkg/* .
          rm -rf temp-tkg

      - name: Inyectar Limpieza de Drivers (AMD/NVIDIA)
        run: |
          # Ahora sí, el PKGBUILD va a estar acá y el sed funcionará
          sed -i '/_tkg_srcprep/a \  scripts/config --file "${_kernel_work_folder_abs}/.config" --disable CONFIG_DRM_AMDGPU --disable CONFIG_DRM_NOUVEAU --disable CONFIG_DRM_RADEON' PKGBUILD

      - name: Compilar (Makepkg)
        run: |
          chown -R user:user .
          su user -c "yes '' | makepkg --noconfirm -s"

      - name: Subir Paquetes
        uses: actions/upload-artifact@v4
        with:
          name: kernel-tkg-silvermont-final
          path: ./*.pkg.tar.zst
