name: Linux-TKG Silvermont Generic Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tkg-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential libncurses-dev flex bison openssl \
            libssl-dev dkms libelf-dev libudev-dev libpci-dev libiberty-dev autoconf \
            xz-utils zstd bc ccache python3 kmod

      - name: Clonar y Preparar
        run: |
          git clone --depth 1 https://github.com/Frogging-Family/linux-tkg.git
          cp customization.cfg linux-tkg/

      - name: Compilar
        run: |
          cd linux-tkg
          # Usamos 'config' para que parchee y prepare, y luego 'make' manual
          # Esto evita que el script interactivo nos frene
          ./install.sh config
          
          # Entramos a donde se descargó el kernel y compilamos a mano
          cd linux-src-git
          make -j$(nproc) bzImage
          make -j$(nproc) modules
        env:
          _no_confirm: "true"
          _distro: "Generic"

      - name: Organizar Archivos
        run: |
          mkdir -p release_files
          # El kernel compilado
          cp linux-tkg/linux-src-git/arch/x86/boot/bzImage release_files/vmlinuz-tkg-silvermont
          # El archivo de configuración por si querés verlo
          cp linux-tkg/linux-src-git/.config release_files/kernel-config-utilizado
          
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: tkg-gen-${{ github.run_number }}
          files: release_files/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
