name: linux-6.6-tkg-silvermont

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: 1. Checkout
        uses: actions/checkout@v4

      - name: 2. Preparar Base de Datos de M칩dulos
        run: |
          mkdir -p ~/.config
          # Inyectamos tu lista (asumiendo que el archivo se llama mis_modulos.txt en tu repo)
          cat modprobed.db > ~/.config/modprobed.db

      - name: 3. Instalar Dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential bc bison flex libelf-dev libssl-dev make ccache dwarves libncurses-dev xz-utils kmod

      - name: 4. Ejecutar Linux-TKG
        run: |
          git clone --depth 1 https://github.com/Frogging-Family/linux-tkg.git
          cp customization.cfg linux-tkg/customization.cfg
          cd linux-tkg
          # Usamos 'install' para que aplique parches, modprobed-db y compile.
          # Como _install_after_building="no", no intentar치 instalarlo en la VM de GitHub.
          yes "" | ./install.sh install

      - name: 5. Empaquetado de Binarios
        run: |
          mkdir -p output/boot
          # Buscamos el bzImage generado en la carpeta de fuentes de TKG
          cp linux-tkg/linux-src-git/arch/x86/boot/bzImage output/boot/vmlinuz-linux66-tkg
          cd linux-tkg/linux-src-git
          # Instalamos m칩dulos en nuestra carpeta de salida
          sudo make INSTALL_MOD_PATH=../../output modules_install
          cd ../../output
          # Limpiamos enlaces simb칩licos rotos antes de comprimir
          rm -f lib/modules/*/build lib/modules/*/source
          tar -cvzf ../kernel-66-silvermont.tar.gz .

      - name: 6. Subir Kernel
        uses: actions/upload-artifact@v4
        with:
          name: kernel-66-optimizado
          path: kernel-66-silvermont.tar.gz
