name: Linux-TKG Silvermont Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  tkg-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar Dependencias
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential libncurses-dev flex bison openssl \
            libssl-dev dkms libelf-dev libudev-dev libpci-dev libiberty-dev autoconf \
            xz-utils zstd bc ccache python3 kmod fakeroot

      - name: Cache Kernel Sources
        uses: actions/cache@v4
        with:
          path: linux-tkg/linux-src-git
          key: linux-tkg-src-6.6
          restore-keys: linux-tkg-src-

      - name: Clonar y Configurar
        run: |
          git clone --depth 1 https://github.com/Frogging-Family/linux-tkg.git
          # Copiamos tu config a la raíz de linux-tkg
          cp customization.cfg linux-tkg/
          echo customization.cfg

      - name: Compilar
        run: |
          cd linux-tkg
          # Ejecutamos el instalador. Ya no debería fallar por el comando 'script'
          ./install.sh install
        env:
          _no_confirm: "true"

      - name: Organizar Archivos
        if: always()
        run: |
          mkdir -p release_files
          find . -name "*.pkg.tar.zst" -exec cp {} release_files/ \;
          find . -name "vmlinuz*" -exec cp {} release_files/ \;

      - name: Release
        uses: softprops/action-gh-release@v2
        if: success()
        with:
          tag_name: tkg-6.6-${{ github.run_number }}
          name: Kernel Linux-TKG Silvermont (6.6 LTS)
          body: |
            Instalación en Arch: `sudo pacman -U *.pkg.tar.zst`
          files: release_files/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
